<%= form_for(vehicle) do |f| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <% if vehicle.errors.count == 1%>
        <h4><%= pluralize(vehicle.errors.count, "error") %> no permitió que este vehiculo fuera guardado:</h4>
      <%end%>
      <% if vehicle.errors.count > 1%>
        <h4><%= pluralize(vehicle.errors.count, "errores") %> no permitieron que este vehiculo fuera guardado:</h4>
      <%end%>
      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">
    <div class="input-field col s6">
      <%= f.label :brand%>
      <%= f.text_field :brand, :class=>"validate" %>
    </div>
  </div>

  <div class = "row">
    <div class="input-field col s6">
      <%= f.label :model %>
      <%= f.text_field :model, :class=>"validate"%>
    </div>
  </div>

  <div class = "row">
    <div class="input-field col s6">
      <%= f.label :year %>
      <%= f.number_field :year, :class=>"validate" %>
    </div>
  </div>

  <div class = "row">
    <div class="input-field col s6">
      <%= f.label :fuel_efficiency %>
      <%= f.number_field :fuel_efficiency, :class=>"validate"%>
    </div>
  </div>

  <div class = "row">
    <div class="actions col s6">
      <%= f.submit %>
    </div>
  </div>
<% end %>
