<p>
  <strong>Marca:</strong>
  <%= @vehicle.brand %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Año:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Kilometros por litro:</strong>
  <%= @vehicle.fuel_efficiency %>
</p>

<%= link_to 'Editar', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Regresar', vehicles_path %>
